.StubSocial {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 75px;
    width: 250px;
    height: 145px;
}

.StubSocial-item {
    display: inline-block;
    -webkit-filter: grayscale(1) invert() brightness(1);
    filter: grayscale(1) invert() brightness(1);

}

.StubSocial-item--facebook {
    width: 40px;
    height: 45px;
    background: url(../svg/facebook.svg) center center no-repeat;
}

.StubSocial-item--vk {
    width: 40px;
    height: 45px;
    margin-right: 10px;
    background: url(../svg/vkontakte.svg) center center no-repeat;
}

.StubSocial-item--youtube {
    width: 40px;
    height: 45px;
    margin-right: 7px;
    background: url(../svg/youtube.svg) center center no-repeat;
}

.StubSocial-item--instagram {
    width: 40px;
    height: 45px;
    margin-right: 18px;
    background: url(../svg/instagram.svg) center center no-repeat;
}