.StubContacts {
    font-family: "Roboto", sans-serif;
    margin: 79px 0 0 12%;
    max-width: 568px;

}

.StubContacts-PRdepartment {
    margin-top: 70px;
    margin-left: 35px;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 70px;
    position: absolute;
    left: 200px;
    top: 240.72px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
}

.StubContacts-Organization {
    margin-left: 15px;
    margin-top: 70px;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 70px;
    position: absolute;
    left: 330px;
    top: 240.72px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
}

.StubContacts-PRManager {
    color: #fff;
    font-size: 22px;
    margin-bottom: 70px;
    position: absolute;
    left: 200px;
    top: 240.72px;
    text-align: left;
    width: 50%;
    margin-top: 128px;
    margin-left: 32px;
}

.StubContacts-OrganizationManager {
    color: #fff;
    font-size: 22px;
    margin-bottom: 70px;
    position: absolute;
    left: 490px;
    top: 240.72px;
    text-align: left;
    width: 50%;
    margin-top: 132px;
    margin-left: 30px;
}

.StubContacts-PRManager a:not(:focus):not(:hover) {
    color: #fff;
    text-decoration: none;
}

.StubContacts-OrganizationManager a:not(:focus):not(:hover) {
    color: #fff;
    text-decoration: none;
}




