.StubRaider {
    margin-top: 270px;
    margin-left: 225px;
    width: 600px;
    height: 300px;

}

.StubRaider-title {

    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;

}

.StubRaider-raider {

    margin-top: 28px;
    padding-left: 55px;
    padding-top: 25px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;

    border-radius: 28px;

}

