/**
Stub

StubLogo
StubLogo-picture

StubSocial
StubSocial-item

StubMain
StubMain-title

StubContacts
StubContacts-name
Stubcontacts-phonenumber
StubContacts-email


StubRaider
StubRaider-button

**/
.Stub {
    height: 700px;
    background-image: url("../image/22.png");
    background-size: 100%, auto;
    background-repeat: no-repeat;
}